<!doctype html>
  <head>
    <title>Time</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  <a href="/">/</a>
  <ul>
    <li>url : <%= item.url %></li>
    <li>repository_url : <%= item.repository_url %></li>
    <li>title : <%= item.title %></li>
    <li>comment : <%- item.comment %></li>
    <% if (item.list) { %>
      <ul>
        <% for (var tag of item.list) { %>
          <li><%= tag %></li>
        <% } %>
      </ul>
    <% } %>
  </ul>
  </body>
</html>
