<!doctype html>
  <head>
    <title>Index</title>
    <link rel="stylesheet" href="/style.css">
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-auth.js"></script>
</head>
  <body>
    <p>
      <a href="/tags">tags</a>
    </p>
    <p>
      <a href="/create">create</a>
    </p>

    <button id="login">Login</button>
    <button id="logout">Logout</button>

    <ul>
      <% for (var item of items) { %>
      <li>
        <a href="/item/<%= item.id %>">
          <p>url : <%= item.url %></p>
          <p>repository_url : <%= item.repository_url %></p>
          <p>title : <%= item.title %></p>
          <p>comment : <%- item.comment %></p>
          <% if (item.list) { %>
            <% for (var tag of item.list) { %>
              <p><%= tag %></p>
            <% } %>
          <% } %>
          <% if (item.imageUrl) { %>
            <img src="<%= item.imageUrl %>" alt="">
          <% } %>
        </a>
      </li>
      <% } %>
    </ul>
    <script src="/index.js"></script>
  </body>
</html>
