<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= tag.id %></title>
    <%- include('./common/meta') %>
    <%- include('./common/firebaseHeader') %>
    <%- include('./common/script') %>
    <script src="/web-components/list.js"></script>
    <script src="/web-components/section.js"></script>
    <script src="/web-components/todo-list-card.js"></script>
    <%- include('./common/style') %>
    <style>
      h1 + mbtl-list  {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <mbtl-header></mbtl-header>

    <mbtl-section>
      <h1>This Is <%= tag.id %> Todo List!</h1>

      <mbtl-list>
        <% for (var item of items) { %>
        <li>
          <mbtl-todo-list-card
            href="/item/<%= item.id %>"
            src="<%= item.imageUrl %>"
            title="<%= item.title %>"
            tags="<%= item.escapeTags %>"
          >
          </mbtl-todo-list-card>
        </li>
        <% } %>
      </mbtl-list>
    </mbtl-section>
  </body>
</html>
