<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tags</title>
    <%- include('./common/meta') %>
    <%- include('./common/firebaseHeader') %>
    <%- include('./common/script') %>
    <script src="/web-components/list.js"></script>
    <script src="/web-components/tag.js"></script>
    <script src="/web-components/section.js"></script>
    <%- include('./common/style') %>
    <style>
      h1 + mbtl-list  {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <mbtl-header></mbtl-header>
    <mbtl-section>
      <h1>This Is All Tag List!</h1>

      <mbtl-list>
        <% for (var tag of tags) { %>
        <li>
          <mbtl-tag
            href="/tags/<%= tag.id %>"
            tag="<%= tag.id %>"
            count="<%= tag.count %>"
          >
          </mbtl-tag>
        </li>
        <% } %>
      </mbtl-list>
    </mbtl-section>
  </body>
</html>
